footer {
  width: 100%;
  height: 40vh;
  max-height: 450px;
  background-color: #1c2212;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.footerContent :first-child {
  margin-right: auto;
}

.footerContent :nth-child(2) {
  margin-right: auto;
  margin-left: auto;
}

.footerContent :nth-child(3) {
  margin-right: auto;
  margin-left: auto;
}

.logo {
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 115px;
}

img{
  width: 100%;
  height: 100%;
}

.header {
  padding-left: 10px;
}
p {
  padding-left: 30px;
}

.socials {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.findUs {
  place-self: center;

}

.iconWrapper {
  font-size: xx-large;
  place-self: center;
}

a {
  color: white;
}
.copyright {
  place-self: center;
  padding: 0;
}
.cpText {
  font-size: medium;
  padding: 0;
}
