.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;

}

p {
  margin: 0;
}

.imageContainer {
  background-color: var(--color-bg-light-soft);
  padding: 2px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 712px;
  border-radius: 12px;
}

.textContainer {
  display: grid;
  width: 45%;
}

.textWrapper {
  grid-area: 1/1;
  align-self: start;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.left  {
  width: 45%;
}

.right {
  width: 45%;
}

.autoShow {
  animation: appear-on-scroll both;
  animation-timeline: view();
}

@keyframes appear-on-scroll {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}
