.vidContainer {
  width: 80%;
  height: 100%;
  max-width: 1200px;
  display: grid;
  justify-self: center;
  padding: 2px;
  background-color: var(--color-bg-light-soft);
  border-radius: 12px;
}

video {
  width: 100%;
  border-radius: 12px;
  grid-area: 1/1;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* fade */
}

.primary {
  z-index: 10;
  opacity: 1;
}
