main {
  width: 100vw;
  height: 100%;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 300px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.mainImg {
  max-height: 1200px;
  grid-area: 1/1;
}

.mainSection {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;

  -webkit-mask-image: linear-gradient(to bottom,
  black 50%,
  transparent 100%);
}

.mainTextContainer {
  grid-area: 1/1;

  max-width: 750px;
  margin: 0 40px 0 40px;
  padding: 10px;
  border-radius: 12px;

  font-size: 1.5em;

  background-color: rgba(0, 0, 0, 0.38);
}

p {
  margin: 0;
}

.collageSection {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 70px
}

.collageContainer {
  background-color: white;
  padding: 5px;
  width: 45%;
  border-radius: 12px;
}

.collageTextContainer {
  display: grid;
  width: 45%;
  border-right: dotted white 1px;
  padding-right: 69px;
}

.collageTextWrapper {
  grid-area: 1/1;
  align-self: center;
}
