main {
  width: 100vw;
  height: 100%;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 200px;
  background-color: var(--color-bg-main);

}

.mainImg {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.mainSection {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;

  -webkit-mask-image: linear-gradient(to bottom,
  black 50%,
  transparent 100%);
}

.mainTextContainer {
  grid-area: 1/1;

  align-self: center;
  max-width: 800px;
  max-height: 400px;
  margin: 0 40px 0 40px;
  padding: 10px;
  border-radius: 12px;

  background-color: rgba(0, 0, 0, 0.38);
}

p {
  margin: 0;
}

.aboutUsHeader {
  justify-self: center;
  width: 80%;
  max-width: 900px;
  text-align: center;
}
.aboutUs {
  justify-self: center;
}

.aboutSectionVid{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

app-about-component {
  width: 100%;
}

.aboutSectionPhotos {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-section-dark);

  padding: 100px 0 100px 0;
  /*-webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);*/
  /*-webkit-mask-repeat: no-repeat;*/
  /*-webkit-mask-size: cover;*/
  -webkit-mask-image: linear-gradient(to top,
  black 95%,
  transparent 100%);
}
.placeHolder {
  height: 550px;
}

.autoShow {
  animation: appear-on-scroll both;
  animation-timeline: view(30%);
}

@keyframes appear-on-scroll {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

